<%- include("./partials/header.ejs") %> <%- include("./partials/navbar.ejs") %>

<div class="d-flex justify-content-center">
  <h2 class="mb-5 mt-3">Choose your plan</h2>
</div>
<div class="row row-cols-1 row-cols-md-4 g-4">
  <% data.forEach(el => { %>
  <div class="col">
    <div class="card">
      <img src="<%= el.imageUrl %>" class="card-img-top" alt="..." />
      <div class="card-body">
        <div class="d-flex justify-content-center mb-3">
          <h5 class="card-title"><%= el.name %></h5>
        </div>
        <div class="d-flex justify-content-center">
          <a
            href="/pets/add/<%= el.id %>"
            class="card-text btn btn-primary me-2"
            >Select</a
          >
          <a href="/pets/list/<%= el.id %>" class="card-text btn btn-warning"
            >List Pets</a
          >
        </div>
      </div>
    </div>
  </div>
  <% }) %>
</div>

<%- include("./partials/footer.ejs") %>
