<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets Care</title>
</head>
<body>
    <h2>Pet List</h2>

    <table border="1">
        <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Type</th>
                <th>Weight</th>
                <th>Race</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach((el, i) => { %>
                <tr>
                    <td><%= i + 1 %></td>
                    <td><%= el.name %></td>
                    <td><%= el.type %></td>
                    <td><%= el.weight %></td>
                    <td><%= el.race %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <a href="/users">Back</a>
</body>
</html>