<%- include("../partials/header.ejs") %> <%- include("../partials/navbar.ejs")
%>
<div class="d-flex justify-content-center mb-3">
  <h1>List <%= data.name %></h1>
</div>
<table class="table table-bordered table-striped table-warning">
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Type</th>
      <th>Weight</th>
      <th>Race</th>
      <th>Service</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% data.Pets.forEach((el, i) => { %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= el.name %></td>
      <td><%= el.type %></td>
      <td><%= el.weight %></td>
      <td><%= el.race %></td>
      <td><%= data.name %></td>
      <td><%= el.PetService.status %></td>
    </tr>
    <% }) %>
  </tbody>
</table>
<a href="/" class="btn btn-secondary">Back</a>
<%- include("../partials/footer.ejs") %>
